@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("/font/Sora-VariableFont_wght.ttf");

@font-face {
  font-family: "Sora";
  src: url("/font/Sora-VariableFont_wght.ttf");
} */

a {
  @apply no-underline text-dark-font;
}

body {
  @apply m-0 p-0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  @apply m-0;
}

* {
  @apply font-poppins;
  box-sizing: border-box;
}

.page-easein{
  animation: fade 0.9 ease-in;
}

@keyframes fade{
  0% {
    opacity: 0;
  }
}
/*
.bg-login {
  background-image: url("/images/login/background-login.png");
  @apply bg-center bg-contain bg-no-repeat;
} */
